.site-nav-flex-container
{
    border: 1px solid blue;
    justify-content: space-between;
    display: flex;
    padding-left: 0;
    flex-wrap: wrap;
}

.site-nav-flex-item {
    list-style-type: none;
    background-color: yellow;
    margin: 5px;
    height: auto;
}

.site-nav-flex-item a {
    text-decoration: none;
}

.site-nav-flex-item:hover {
    background-color: greenyellow;
    text-decoration: underline;
    font-weight: bold;
    width: auto;
}

