.flex-container
{
    border: 1px solid blue;
    display: flex;
}

.flex-container1 {
    width: 20%;
    display: flex;
    align-self: center;
}

.flex-item {
    height: 120px;
    width: 20%;
    flex-grow: 1;
    border: 1px solid red;
}

.flex-item-1 {
    height: 60px;
    border: 1px solid red;
    flex-grow: 1;
}
